@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DevExtreme DxDataGrid and OData</h1>
    <p class="lead">Using a DevExtreme ODataStore against a OData v4 API should make the grid automatically call correct OData queries for paging, sorting and filtering.</p>
    <p><a href="https://js.devexpress.com" class="btn btn-primary btn-lg">DevExtreme &raquo;</a></p>
</div>

<div class="row">
    <div id="mainView" class="container">
        <div data-bind="dxDataGrid: customerGridOptions"></div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/home-index");
}